.App {
}

.home_page {
  position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	/* margin-top: 5rem; */
}

.home_page_logo {
  position: absolute;
  top: 8px;
  left: 5px;
}

.home_page p {
  text-align: start;
}

.home_page h2 {
  text-align: center;
  margin-top: 5rem;
}

input {
  width: 800px;
  border-style: none;
  padding: .8rem 1rem .8rem 1rem;
  font-size: 1.5rem;
  font-weight:700;
}

input[type="text"] {
  margin: 1rem 0 0 0;
  background: #fff;
}
input[type="submit"] {
  width: 400px;
  margin: 0 0 2rem;
  background-color: #191c1d;
  color: #fff;
}

.advocate_list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 4rem;
	margin: 4rem 0 0;
}

.bio_preview {
	margin-top: 1rem;
}

@media screen and (max-width: 540px) {
	.home_page {
		display: grid;
		justify-content: center;
		flex-direction: column;
		margin: 0 0 5rem 0;
	}

  .home_page_header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home_page_logo {
    position:relative;
    margin: .5rem 0 1rem .5rem;
  }

  h1 {
    margin: 1rem 0 0 1rem;
  }

  .home_page h2 {
    text-align: center;
    margin-top: 2rem;
  }

  #form_search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 95%;
    border-style: none;
    background-color: #e6e5e5;
    padding: 1rem .5rem 1rem .5rem;
    font-size: 1.5rem;
    font-weight:700;
  }

  input[type="submit"] {
    width: 95%;
    margin: 0 0 3rem;
    background-color: #191c1d;
    color: #fff;
  }

	.advocate_list {
		display: grid;
		grid-template-columns: 1fr;
		grid-column: 1;
		gap: 2rem;
		margin: 2rem 0 0 3rem;
	}
}

@media (min-width: 541px) and (max-width: 960px) {
	.home_page {
		display: grid;
		justify-content: center;
		flex-direction: column;
		margin: 2rem 0 5rem 3rem;
	}

  .home_page_logo {
    position:relative;
    margin: 0 0 1rem .5rem;
  }

  .home_page_header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    margin: 1rem 0 0 1rem;
    color: aquamarine;
  }

  .home_page h2 {
    text-align: center;
    margin-top: 2rem;
  }

  #form_search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 100%;
    border-style: none;
    background-color: #e6e5e5;
    padding: 1rem .5rem 1rem .5rem;
    font-size: 1.5rem;
    font-weight:700;
  }

  input[type="submit"] {
    margin: 0 0 3rem;
    background-color: #191c1d;
    color: #fff;
  }

	.advocate_list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
		margin: 2rem 0 0;
	}
}

.advocate_preview_wrapper {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.advocate_preview_image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid aquamarine;
}

body {
	background-size: cover;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAYAAABfwxXFAAAAAXNSR0IArs4c6QAAAEhJREFUGFcFwcEJgDAQRNG/wcSDghc7sAT7r0oEjdkZ34t6nE4KStPmxrgvSnb0vQTzblIwNWJdcH9AA5RE1M0QWAYbagEnSPzNaCFk7a7RYgAAAABJRU5ErkJggg==');
	color: aliceblue;
}

a {
	color: aquamarine;
	text-decoration: none;
}

/* FOOTER */

.footer {
	margin: 4rem 8rem 1.4rem 8rem;
}

.top {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-content: center;
	gap: 2rem;
}

.item {
	flex: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 1rem;
	text-align: justify;
	font-size: 0.85rem;
}

/* h1 {
	font-size: 1.2rem;
	font-weight: 500;
	color: #555;
} */

ul {
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

/* li {
	padding: 0.25rem 0 0.25rem 0;
	color: #555;
	cursor: pointer;
} */

/* span {
	color: #626262;
} */

.bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 3rem;
}

.left {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	color: aquamarine;
	font-weight: bold;
	font-size: 1.5rem;
}

.copyRight {
	margin-left: 1.2rem;
	font-size: 0.85rem;
	color: #626262;
}

.right {
	height: 50px;
}

@media (min-width: 541px) and (max-width: 960px) {
	.footer {
		margin: 0 2rem 1rem 2rem;
	}
	.top {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-content: center;
		gap: 2rem;
	}

	.item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-content: center;
	}
}

@media screen and (max-width: 540px) {
	.footer {
		margin: 0 2rem 1rem 2rem;
	}
	.top {
		display: grid;
    grid-template-columns: 1fr;
		align-content: center;
		gap: 2rem;
	}

	.item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-content: center;
	}
}
